
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Activation</title>
</head>
<body>
    <div> 
        <input type="text" value="@ViewBag.text" />
    </div>
</body>
</html>
