
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>软件过期</title>
</head>
<body>
    <div> 
        对不起，您的软件已经过期，如需继续使用，请联系厂商！
        <br />
        联系电话：@ViewBag.lxdh 
    </div>
</body>
</html>
